version: '3'
services:
  jamminiz_bot:
    image: docker.io/$DOCKER_USERNAME/jamminiz:$VERSION
    container_name: jamminiz
    restart: always
    environment:
      - DISCORD_BOT_TOKEN=$DISCORD_BOT_TOKEN